*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../assets/fundo-paginas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P';
    width: 100vw;
    height: 100vh;
}

.cadastro{
    border: 2px solid #1d0b83;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 750px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    background-color: rgba(237, 236, 240, 0.63);
    color: #1d0b83;
    padding: 0;
    margin-top: 120px;
    box-shadow: 0px 0px 10px 3px #5b2ebe;
    animation: slideInLeft 1s;
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
} 

#p-cadastro{
    margin-top: 30px;
}

#p-cadastro::after {
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background-color: #1d0b83;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.user{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    margin-top: -10px;
    position: relative;
}

label{
    margin-left: 15px;
    color: black;
    margin-top: 15px;
}

.user input{
    width: 95%;
    padding: 14px;
    border-radius: 5px;
    justify-content: space-between;
    margin:5px;
    position: center;
    border-color: #361b6e;
    border-top: #3a1f75;
    border-left: #412086;
    font-family: 'Press Start 2P';
    background-color: black;
    color:rgb(236, 240, 236);
    
}

.footer{
    margin-top: 45px;
    font-size: 15px;
    background-color: #5c2ebe;
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    border-radius: 5px;
}

.erro {
    font-size: 12.5px;
    color: #5525bd;
    margin-left: 10px;
    height: 20px; /* Altura fixa para reservar espaço */
    visibility: hidden; /* Tornar o texto invisível sem remover o espaço */
}

/* Quando houver uma mensagem de erro, tornar visível */
.erro:empty {
    visibility: hidden;
}
.erro:not(:empty) {
    visibility: visible;
}

.server-create{
    font-size: 15px;
    color: #5525bd;
    text-align: center;
    height: 0px; /* Altura fixa para reservar espaço */
    margin-top: 30px;
}

.server-login:empty {
    visibility: hidden;
}
.server-login:not(:empty) {
    visibility: visible;
}

a{
    color: #0f0070;
    text-decoration: none;
}

.footer p a:hover{
    text-decoration: underline;
    color: #e379c7;
    transition: all 0.4s ease;
}

#p-footer{
    margin-right: 48px;
    color: rgb(255, 255, 255);
}

form button{
    margin-top: 30px;
    width: 100%;
    height: 7%;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    color: white;
    background-color: #1d0b83;
    border-color: #5b2ebe;
    font-family: 'Press Start 2P';
    font-size: 10px;
    margin-bottom: 20px;
}

form button:hover{
    background-color: #5b2ebe;
    box-shadow: 0px 5px 3px 3px rgba(15, 2, 22, 0.397);
    transition: all 0.4s ease;
}