*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
}

.container-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../assets/fundo-dashboard.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P';
    width: 100vw;
    height: 100vh;
}

.layout{
    border: 2px solid #1d0b83;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 80%;
    border-radius: 10px;
    font-size: 30px;
    background-color: rgba(237, 236, 240, 0.63);
    color: #1d0b83;
    padding: 0;
    margin-top: 110px;
    box-shadow: 0px 0px 10px 3px #5b2ebe;
    animation: slideInLeft 1s;
    position: fixed;
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
} 

.pokedex{
    width: 750px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    position: relative;
}

#img-pokedex{
    position: sticky;
    width: 120%;
    margin-right: 200px;

}

#img-fundobranco{
    position: absolute;
    width: 40%;
    margin-top: 125px;
    margin-left: 70px;
    z-index: -1;
}

#pokemons{
    position: absolute;
    margin-right: 490px;
    width: 5%;
    height: 10%;
    margin-bottom: 170px;
    
}

.pokemon-img{
    
    width: 270px;
    height: 170px;
    
}

.next-button {
    z-index: 1; /* Garante que o botão esteja na frente da Pokédex */
    margin-top: 350px;
    margin-left: 385px;
    position: absolute;
    cursor: pointer;
    background-color: transparent; /* Remove o fundo do botão */
    border: none; /* Remove a borda do botão */
    font-size: 15px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #097e30; /* Cor do texto do botão */
}

.previous-button {
    z-index: 1; /* Garante que o botão esteja na frente da Pokédex */
    margin-top: 350px;
    margin-left: 320px;
    position: absolute;
    cursor: pointer;
    background-color: transparent; /* Remove o fundo do botão */
    border: none; /* Remove a borda do botão */
    font-size: 15px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #097e30; /* Cor do texto do botão */
}

.pokemon-name {
    position: absolute;
    top: 52px; /* Ajuste conforme necessário para a posição vertical */
    left: 1450%; /* Ajuste conforme necessário para a posição horizontal */
    transform: translateX(-50%);
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #000000; /* Cor do texto do nome do Pokémon */
    z-index: 1;
}

.generation-select {
    position: absolute;
    left: 525px;
    top: 400px; /* Ajuste conforme necessário */
    font-size: 13px;
    display: flex;
    flex-direction: column; /* Colocar os elementos em coluna */
    align-items: center; /* Alinhar à esquerda */
    justify-content: center;
}

.generation-select label {
    margin-bottom: 5px; /* Espaçamento abaixo do texto da seleção */
}

.generation-select select {
    font-size: 10px; /* Ajusta o tamanho da fonte do select */
    padding: 5px 10px; /* Ajusta o preenchimento interno */
    border-radius: 10px; /* Ajusta os cantos arredondados */
    border: 1px solid #ff000000; /* Ajusta a borda */
    margin-left: 15px;
    width: 95%;
    text-align: center;
    background-color: #22c4ea;
}

.details-button {
    z-index: 1; /* Garante que o botão esteja na frente da Pokédex */
    margin-top: 435px;
    margin-left: 540px;
    position: absolute;
    cursor: pointer;
    background-color: transparent; /* Remove o fundo do botão */
    border: none; /* Remove a borda do botão */
    font-size: 13px; /* Ajuste o tamanho da fonte conforme necessário */
}

.capture-button{
    z-index: 1; /* Garante que o botão esteja na frente da Pokédex */
    margin-top: 435px;
    margin-left: 153px;
    position: absolute;
    cursor: pointer;
    background-color: transparent; /* Remove o fundo do botão */
    border: none; /* Remove a borda do botão */
    font-size: 15px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #194d2a;

}

.pokemon-details{
    width: 400px;
    height: 410px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    position: absolute;
    background-color: #d30a40;
    margin-left: 850px;
    margin-top: 110px;
    z-index: -1;
    border-radius: 5px;
    border: 5px solid #d30a40;
    background-image: url(../assets/detalhes.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slideInLeft 1s;
    box-shadow: 0px 0px 5px 3px #000000;
}

.pokemon-details p{
    margin-top: 60px;
    font-size: 14px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

.captured-pokemons{
    width: 460px;
    height: 710px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    position: absolute;
    background-color: #d30a40;
    margin-left:1320px;
    z-index: -1;
    border-radius: 5px;
    border: 5px solid #d30a40;
    background-image: url(../assets/capturados.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slideInLeft 1s;
    box-shadow: 0px 0px 5px 3px #000000;
}

.captured-pokemons ul{
    margin-top: 60px;
    font-size: 14px;
    margin-left: 35px;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.captured-pokemons li {
    margin-bottom: 20px; /* Ajuste o valor conforme necessário */
  }

.captured-pokemons li button {
    background-color: #ffffff;
    border: 1px solid #d30a40;
    color: #d30a40;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 70px;
    font-size: 12px;
    position: fixed;
}

.captured-pokemons li button:hover {
    background-color: #ffcccc;
}
